<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
  <div id='app'>
    <div style="width: 500px">
      <el-input v-model="total0" @change="compute()" placeholder="标价总金额"></el-input>
      <el-input style="margin: 10px 0;" v-model="total" @change="compute()" placeholder="实付总金额"></el-input>
      <div><i style="font-size: 0.5em; color: gray">（空格分隔，自动求和）</i></div>
      <el-button style="margin: 10px;" @click="click()" type="primary">添加</el-button>
      <el-table
        :data="items"
        style="width: 100%">
        <el-table-column
          label="金额"
          width="180">
          <template slot-scope="scope">
            <el-input @change="compute()" v-model="scope.row.a" placeholder="xxx"></el-input>
          </template>
        </el-table-column>
        <el-table-column
          prop="b"
          label="应付">
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="120">
          <template slot-scope="scope">
            <el-button
              @click.native.prevent="deleteRow(scope.$index)"
              type="text"
              size="small">
              移除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
  <el-input v-model="" placeholder=""></el-input>

  <script>
    new Vue({
      el: "#app",
      data: {
        total0: '',
        total: '',
        items: [
        ],
      },
      methods: {
        compute(type) {
          let a = this.total0.split(" ").reduce((sum,cur) => parseInt(sum) + (parseInt(cur) || 0))
          let b = this.total.split(" ").reduce((sum,cur) => parseInt(sum) + (parseInt(cur) || 0))
          this.items.forEach(item => {
            item.c = item.a.split(" ").reduce((sum,cur) => parseInt(sum) + (parseInt(cur) || 0))
            if(this.total0 !== "" && this.total0 !== 0)
              item.b = b * item.c / a 
          })
        },
        click() {
          this.items.push({a:'',b:0})
        },
        deleteRow(index) {
          this.items.splice(index,1)
        }

      }
    })
  </script>
</body>
</html>
